/************** DIMENSIONES ***************/
/* 
    ABSOLUTAS: Son todas aquellas tiene tiene valor por si mismas.
        -> pixel
        -> pulgadas
        -> cm

    RELATIVAS: Su valor depende de otra referencia.
        -> porcentual %
        -> viewport (vh viewport height, vw viewport width)
        -> rem
        -> em
*/

/* div {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    display: inline-block
}

span {
    background-color: orange;
    width: 300px;
    height: 100px;
} */

/* .container {
    width: 500px;
    height: 500px;
    background-color: orange;

    & .hijo {
        width: 25%;
        height: 25%;
        background-color: aqua;
    }
} */

* {
    margin: 0;
}

/* .home {
    background-color: blue;
    width: 100%;
    height: 100vh;
}
.about {
    width: 100%;
    height: 100vh;
} */

html {
    font-size: 12px; /* 1 rem -> 16px */
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}

/* CSS NESTING (anidado css) */

/* section {
    font-size: 20px;

    & h1 {
        font-size: 2em;
    }
    & h2 {
        font-size: 1.75em;
    }
    & h3 {
        font-size: 1.5em;
    }
    & h4 {
        font-size: 1.25em;
    }
}
 */
