/******* FLEXBOX *******/

/*
    Es una caracteristica de CSS que nos permite 
    destribuir elementos dentro de su contenedor.

    La capacidad de flexibilidad se aplica SOBRE EL
    CONTENEDOR, no directamente sobre sus hijos.

    Flex es un valor de la propiedad DISPLAY, asi como
    block, inline-block e inline.

    Cuando declaramos un contenedor como flexible,
    un puñado de propiedades se desprenden de flex.
*/

/* .container {
    width: 500px;
    height: 500px;
    background-color: aqua;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid black;
} */

.cards_list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: orange;
    height: 500px;
    width: 400px;
    border: 1px solid black;
}

